*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #ffc845;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  padding: 25px;
  justify-content: space-between;
  background-color: #279989;
  color: #fff;
}

main {
  padding: 25px;
  background-color: #ffc845;
}

h2 {
  padding: 10px 0px 10px 0px;
  font-size: 1.7rem;
}

.main-title {
  font-weight: bolder;
  font-size: 2.3rem;
}

.ul-main-menu {
  display: flex;
}

.li-main-menu {
  padding: 10px;
}

.article-counter-section {
  display: flex;
  justify-content: space-between;
  background-color: #44a080;
  font-size: 2rem;
  color: #fff;
  padding: 25px;
}

.article-counter {
  font-size: 1.5rem;
}

.add-article-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  padding: 10px 0px 10px 0px;
  font-size: 1.5rem;
}

.form-input {
  padding: 20px;
  width: 300px;
}

.form-button {
  padding: 20px;
  width: 120px;
  align-content: center;
  border: 0px solid;
  background-color: #44a080;
  color: #fff;
  font-size: 1.5rem;
}
